/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

body {
    padding-top: 60px;
}

.status-layer {
    $dot-size: 30px;

    thead tr th:first-child, 
    tbody tr th {
	border-right: 1px solid $table-border-color;
	text-align: right;
    }

    th, td {
	text-align: center;
    }

    @mixin dot {
	display: inline-block;
	width: $dot-size;
	height: $dot-size;
	border-radius: $dot-size / 2;
    }

    .dot-default {
	@include dot;
	background-color: $gray-lighter;
    }

    .dot-success {
	@include dot;
	background-color: $brand-success;
    }

    .dot-danger {
	@include dot;
	background-color: $brand-danger;
    }

    .dot-warning {
	@include dot;
	background-color: $brand-warning;
    }
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;

    h4 {
	margin-top: 0;
	margin-bottom: 5px;
    }

    p:last-child {
	margin-bottom: 0;
    }
}

/* Variations */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;

    h4 {
	color: #b94a48;
    }
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;

    h4 {
	color: #8a6d3b;
    }
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;

    h4 {
	color: #34789a;
    }
}

.bs-callout-success {
    background-color: #DFF0D8;
    border-color: #5CB85C;

    h4 {
	color: #3C763D;
    }
}
